body{
    background-color:rgb(242, 223, 248);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ehoundstooth%3C/title%3E%3Cg fill='%23810077' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 18h6l6-6v6h6l-6 6H0M24 18v6h-6M24 0l-6 6h-6l6-6M12 0v6L0 18v-6l6-6H0V0'/%3E%3C/g%3E%3C/svg%3E");
    font-family: "Exo 2", sans-serif;
}

nav{
    background-color:white;
    border-left: 7.55px solid #472d4b;
    padding:1px;
}

p{
    margin-left:50px;
    margin-right:100px;
}


/*  ---------------Reponsive Images-----------------  */
img {
    max-width: 70%;
}

/*  --------------- Utility Classes ---------------  */
.container{
    width: 80vw;
    margin:40px auto;
}

.img-left{
    float:left;
    border:1px solid #cccccc;
    padding:5px;
    margin:10px 20px 10px 0;
    border-radius:10px;
}