body{
    background-color:rgb(242, 223, 248);
    font-family: "Exo 2", sans-serif;
}

nav{
    background-color:white;
    border-left: 7.55px solid #472d4b;
    padding:1px;
}



/*  ---------------Reponsive Images-----------------  */
img {
    max-width: 70%;
}

/*  --------------- Utility Classes ---------------  */
.container{
    width: 80vw;
    margin:40px auto;
}

.img-left{
    float:left;
    border:1px solid #cccccc;
    padding:5px;
    margin:10px 20px 10px 0;
    border-radius:10px;
}